.toolbar{
    background-color: blue;
    font-size: 140%;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

ons-carousel[fullscreen]{
    height: 80%;
}

.h1{
    text-align: center;
    font-size: 140%;
    font-weight: bold;
}

.class{
    font-size: medium;
}

.tabbar{
    background-color: blue;
}